#projects{
    background-image: linear-gradient(#d6d6d6, #ededed);
    min-height: 100vh;
}

#projects div{
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    display: flex;
}

#ptit{
    font-size: 5.3em;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

#pdesc{
    font-size: 5.3em;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 20px;
}

#pp{
    text-align: center;
}
